html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #d5c4b4;
}

a {
  color: inherit;
  transition: color 0.2s;
}

a:hover {
  color: #64630a;
}

* {
  box-sizing: border-box;
}

.container {
  width: 800px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}