.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex a {
  text-decoration: none;
}

.gridItem {
  padding: 2rem;
  height: 240px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-bg);
  filter: grayscale(1);
  border-radius: 5px;
  transition: filter 0.2s;
  overflow: hidden;
}

.gridItem div {
  border-radius: 5px;
}

.gridItem p {
  font-size: 1.5em;
  z-index: 100;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  border-radius: 10px;
}

.gridItem img {
  border-radius: 5px;
  transition: transform 0.2s;
}

.gridItem:hover, .gridItem a:focus {
  cursor: pointer;
  filter: grayscale(0);
}

.gridItem:hover img, .gridItem a:focus img {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .gridItem {
    height: 120px;
    width: 240px;
  }
}

@media screen and (max-width: 600px) {
  .gridItem {
    height: 80px;
    width: 240px;
  }

  .gridItem p {
    font-size: 1.4rem;
  }
}